* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    background-color: #ededed;
}
.app {
    padding: 15px;
    margin: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    
}
